.btn-flat {
  color: #f1f9ec;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-left: 660px;
}

 .btn-flat:hover {
  opacity: 1;
  font-weight: 600;
  color:#D2E3C8;
}
